-- =====================================================
-- BIZRISE DB - POSTGRESQL (NEON READY)
-- =====================================================

-- =========================
-- USUARIOS
-- =========================
CREATE TABLE Usuarios (
    id_usuario SERIAL PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    apellido VARCHAR(100) NOT NULL,
    correo VARCHAR(150) NOT NULL UNIQUE,
    contrasena_hash VARCHAR(255) NOT NULL,
    rol VARCHAR(20) NOT NULL DEFAULT 'emprendedor',
    estado VARCHAR(20) NOT NULL DEFAULT 'activo',
    avatar_url VARCHAR(255),
    fecha_registro TIMESTAMP DEFAULT NOW()
);

-- =========================
-- CATEGORIAS
-- =========================
CREATE TABLE Categorias (
    id_categoria SERIAL PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    descripcion VARCHAR(255),
    icono_url VARCHAR(255)
);

-- =========================
-- EMPRENDIMIENTOS
-- =========================
CREATE TABLE Emprendimientos (
    id_emprendimiento SERIAL PRIMARY KEY,
    id_usuario INT REFERENCES Usuarios(id_usuario),
    id_categoria INT REFERENCES Categorias(id_categoria),
    nombre VARCHAR(150) NOT NULL,
    descripcion TEXT,
    telefono VARCHAR(20),
    direccion VARCHAR(255),
    distrito VARCHAR(100),
    horario_apertura TIME,
    horario_cierre TIME,
    imagen_portada_url VARCHAR(255),
    estado_verificacion VARCHAR(20) DEFAULT 'pendiente',
    fecha_registro TIMESTAMP DEFAULT NOW()
);

-- =========================
-- PRODUCTOS
-- =========================
CREATE TABLE Productos (
    id_producto SERIAL PRIMARY KEY,
    id_emprendimiento INT REFERENCES Emprendimientos(id_emprendimiento),
    nombre VARCHAR(150) NOT NULL,
    descripcion TEXT,
    precio NUMERIC(10,2),
    imagen_url VARCHAR(255),
    estado_stock VARCHAR(20) DEFAULT 'disponible',
    activo BOOLEAN DEFAULT TRUE,
    fecha_creacion TIMESTAMP DEFAULT NOW(),
    stock INT DEFAULT 0
);

-- =========================
-- COMENTARIOS
-- =========================
CREATE TABLE Comentarios (
    id_comentario SERIAL PRIMARY KEY,
    id_usuario INT REFERENCES Usuarios(id_usuario),
    id_emprendimiento INT REFERENCES Emprendimientos(id_emprendimiento),
    contenido TEXT NOT NULL,
    util_count INT DEFAULT 0,
    fecha TIMESTAMP DEFAULT NOW()
);

-- =========================
-- VALORACIONES
-- =========================
CREATE TABLE Valoraciones (
    id_valoracion SERIAL PRIMARY KEY,
    id_usuario INT REFERENCES Usuarios(id_usuario),
    id_emprendimiento INT REFERENCES Emprendimientos(id_emprendimiento),
    puntuacion SMALLINT CHECK (puntuacion BETWEEN 1 AND 5),
    fecha TIMESTAMP DEFAULT NOW(),
    UNIQUE(id_usuario, id_emprendimiento)
);

-- =========================
-- PROMOCIONES
-- =========================
CREATE TABLE Promociones (
    id_promocion SERIAL PRIMARY KEY,
    id_emprendimiento INT REFERENCES Emprendimientos(id_emprendimiento),
    titulo VARCHAR(150) NOT NULL,
    descripcion TEXT,
    fecha_inicio DATE,
    fecha_fin DATE,
    estado VARCHAR(20) DEFAULT 'activa'
);

-- =========================
-- REDES SOCIALES
-- =========================
CREATE TABLE RedesSociales (
    id_red SERIAL PRIMARY KEY,
    id_emprendimiento INT REFERENCES Emprendimientos(id_emprendimiento),
    plataforma VARCHAR(30) CHECK (
        plataforma IN ('tiktok','web','whatsapp','instagram','facebook')
    ),
    url VARCHAR(255) NOT NULL
);

-- =========================
-- VENTAS
-- =========================
CREATE TABLE Ventas (
    id_venta SERIAL PRIMARY KEY,
    id_usuario INT REFERENCES Usuarios(id_usuario),
    id_emprendimiento INT REFERENCES Emprendimientos(id_emprendimiento),
    total NUMERIC(10,2),
    estado VARCHAR(20),
    fecha_creacion TIMESTAMP DEFAULT NOW()
);

-- =========================
-- DETALLE VENTAS
-- =========================
CREATE TABLE DetalleVentas (
    id_detalle SERIAL PRIMARY KEY,
    id_venta INT REFERENCES Ventas(id_venta),
    id_producto INT REFERENCES Productos(id_producto),
    cantidad INT,
    precio_unitario NUMERIC(10,2),
    subtotal NUMERIC(10,2)
);

-- =====================================================
-- QUERIES LISTAS (REEMPLAZO PROCEDURES SQL SERVER)
-- =====================================================

-- Registrar usuario (equivalente sp_RegisterUser)
-- INSERT INTO Usuarios(...) VALUES (...);

-- Login por correo (sp_GetUserByEmail)
-- SELECT * FROM Usuarios WHERE correo = $1;

-- Crear producto (sp_CreateProduct)
-- INSERT INTO Productos(...) VALUES (...);

-- Productos por negocio
-- SELECT * FROM Productos WHERE id_emprendimiento = $1 AND activo = true;

-- Emprendimientos aprobados
-- SELECT * FROM Emprendimientos WHERE estado_verificacion = 'aprobado';

-- =====================================================
-- FIN
-- =====================================================